<!DOCTYPE html>
<html lang="ja">
<head>
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<title>麻雀成績記録アプリ</title>
<link rel="stylesheet" type="text/css" href="{% static 'mahjong_records/style.css' %}">
<nav>
  <ul>
    <li><a href="{% url 'index'%}" class="default_text">本日の対局結果</a></li>
    <li><a href="{% url 'total'%}" class="default_text">本日の総合成績</a></li>
    <li><a href="#" class="default_text">通算成績</a></li>
    <li><a href="#" class="register_text">対局結果の記録</a></li>
    <li><a href="#" class="register_text">プレイヤー登録</a></li>
  </ul>
</nav>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>