{% extends "mahjong_records/base.html" %}
{% block content %}
<h1 align="center"> 通算成績 </h1>
<hr>
<table align="center" border="1">
    <thead>
        <tr>
            <th>順位</th>
            <th>名前</th>
            <th>平均着順</th>
            <th>総合ポイント</th>
            <th>最大スコア</th>
            <th>平均スコア</th>
            <th>局数</th>
        </tr>
    </thead>
    <tbody>
        {% for user in stats %}
            <tr>  
                <th>{{forloop.counter}}</th>
                <th><strong>{{user.name}}</strong></th>
                <th><strong>{{user.ave_rank}}</strong></th>
                <th>{{user.sum_point}}</th>
                <th>{{user.max_score}}</th>
                <th>{{user.ave_score}}</th>
                <th>{{user.count_match}}</th>
            </tr>
        {%endfor%}
    </tbody>
</table>
<hr>
{% endblock %}
