{% extends "mahjong_records/base.html" %}
{% block content %}
<h1 align="center"> 本日の対局 </h1>
<hr>
{% if game.exists %}
    {% for halfround in game %}
        <h3 align="center"> {{halfround.playing_date|date:"20y/n/j H:i"}}</h3>
        <table align="center" border="1">
            <thead>
                <tr>
                    <th>着順</th>
                    <th>名前</th>
                    <th>点棒</th>
                    <th>ポイント</th>
                </tr>
            </thead>
            <tbody>
                {% for datas in halfround.users %}
                    <tr>
                    
                        <th><strong>{{datas.rank}}</strong></th>
                        <th><strong>{{datas.user.name}}</strong></th>
                        <th>{{datas.score}}</th>
                        <th>{{datas.point}}</th>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    <hr>
    {% endfor %}
{% else %}
    <h2>対局なし</h2>
{% endif %}
{% endblock%}