{% extends "mahjong_records/base.html" %}
{% block content %}
<h1 align="center"> 本日の総合成績 </h1>
<hr>
{% if game.exists %}    
    <table align="center" border="1">
        <thead>
            <tr>
                <th>順位</th>
                <th>名前</th>
                <th>平均着順</th>
                <th>総合ポイント</th>
            </tr>
        </thead>
        <tbody>
            {% for user in stats %}
                <tr>  
                    <th>{{forloop.counter}}</th>
                    <th><strong>{{user.name}}</strong></th>
                    <th><strong>{{user.ave_rank}}</strong></th>
                    <th>{{user.sum_point}}</th>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    <hr>
{% else %}
    <h2>対局なし</h2>
{% endif %}
{% endblock%}